@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: #b1c9cf;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;

  .sectionLocation {
    #enterLocation {
      height: 175px;
      width: 400px;
      background: linear-gradient(#77a7b2, #3c7987);
      border-radius: 20px;
      transition: 0.3s all;
      form {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.3s all;
        label {
          color: #fff;
          font-size: 1.3em;
          padding: 15px;
          text-transform: uppercase;
          transition: 0.3s all;
        }
        input {
          padding: 5px 15px;
          border-radius: 6px;
          outline: none;
          background: #fff;
          border: none;
          transition: 0.3s all;
        }
        button {
          margin-top: 20px;
          padding: 5px 25px;
          border-radius: 6px;
          outline: none;
          background: #77a7b2;
          border: none;
          cursor: pointer;
          color: #fff;
          font-weight: bold;
          transition: 0.3s all;
        }
      }
    }
    #weather {
      display: none;
      background: linear-gradient(#3c7987, #77a7b2);
      margin-top: 10px;
      height: 300px;
      width: 400px;
      border-radius: 20px;
      animation: fondu 0.5s ease-in-out;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      place-content: space-around;
      transition: 0.3s all;
      #country {
        font-size: 1.7em;
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        transition: 0.3s all;
      }
      #Ville {
        font-size: 2.5em;
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        transition: 0.3s all;
      }
      #logoWeather {
        border-radius: 6px;
        width: 70px;
        transition: 0.3s all;
      }
      #temperature {
        font-size: 2.5em;
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        transition: 0.3s all;
      }
      #feelslike {
        font-size: 1.5em;
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        transition: 0.3s all;
      }
    }
  }
}
@keyframes fondu {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
}
@media screen and (max-width: 470px) {
  body {
    .sectionLocation {
      #enterLocation {
        width: 300px;
        height: 120px;
        form {
          place-content: space-around;
          label {
            font-size: 0.9em;
            padding: 0;
          }
          button {
            margin-top: 0;
          }
        }
      }
      #weather {
        width: 300px;
        height: 200px;
        #Ville {
          font-size: 1.5em;
        }
        #logoWeather {
          width: 50px;
        }
        #temperature {
          font-size: 1.5em;
        }
        #feelslike {
          font-size: 1.2em;
        }
      }
    }
  }
}
