<div class="sectionLocation">
  <div id="enterLocation">
    <form class="form">
      <label>Quelle est votre localisation ?</label>
      <input type="text" id="myLocation" placeholder="Entre ta localisation" />
      <button>Valider</button>
    </form>
  </div>
  <div id="weather">
    <p id="Ville"></p>
    <img alt="" id="logoWeather" />
    <p id="temperature"></p>
    <p id="feelslike"></p>
  </div>
</div>